@import './../../colors.scss';


.notifications-container {
  .dropdown-toggle:after {
    display: none;
  }

  button#dropdown-menu-align-end {
    background-color: transparent;
    border: none;

    &:disabled {
      opacity: 1.0;
    }
  }

  .image-container {
    position: relative;

    span {
      position: absolute;
      top: -3px;
      right: -3px;
      background-color: $danger;
      color: white;
      border-radius: 50%;
      padding: 0 6px;
    }
  }
}