@import './../../colors.scss';

.toast-container {
  font-family: 'Merriweather-Light';
  z-index: 10000;

  .toast {
    width: 60vw;
    min-width: 350px;

    .toast-body {
      padding: 1rem;
    }
  }

  .bg-toast {
    background-color: $toast;
  }
}