@import './../../colors.scss';

.confirm-time-dialog {

  .modal-dialog {

    @media (min-width: 992px) {
      width: 50vw;
      max-width: 600px;
    }
  }

  .modal-title {
    color: $primary;
  }
}