@import './../../colors.scss';

.create-dialog {

  .modal-dialog {
    @media (min-width: 992px) {
      width: 70vw;
      max-width: 900px;
    }

    .modal-body {
      .invalid {
        width: 100%;
        color: $danger;
        margin-top: 0.25rem;
        font-size: 0.875em;
      }
    }
  }

  .modal-title {
    color: $primary;
  }
}