@import './../../../colors.scss';

.meeting-details-page {
  font-family: Merriweather-Regular;

  a img.presentation {
    width: 1.25rem;
    margin-right: 5px;
  }

  .label {
    font-family: Merriweather-Light;
    font-size: 0.9rem;
    line-height: 1.5;
    color: $secondary;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
}